{% extends "base.html" %}

{% block title %}
    User Login
{% endblock %}

{% block body %}
    <div class="container">
    <br><br><br><br>
        <h1>Login</h1>
    <br>
    {% if form.errors %}
        <p>
            Something went wrong
        </p>
    {% endif %}
    <br>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary ml-auto mr-2" type="submit" value="Login">
        <input class="btn btn-primary ml-auto mr-2" type="hidden" name="next" value="{{ next }}">
    </form>
    <br><br>
    <a href="{% url "main:password_reset" %}"> Forgot your password? </a>
    </div>
{% endblock %}