{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}
    <br><a href="{% url "main:index" %}">Back to all articles</a><br>
    <h1>{{ article.title }}</h1>
    <p>{{ article.article_subject }}</p>
    <p>{{ article.body }}</p>
    {% if article.image %}
                <img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="Can't upload image" height="200">
    {% endif %}
    <p>Published by {{ article.created_by }} at {{ article.created_at }}</p>
    <p>Last update at {{ article.updated_at }}</p>
    <!-- TODO: Display other user's articles at the bottom of current article -->
    <!-- TODO: Display other articles with the same subject at the right side -->
{% endblock %}