{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
<div class="container">
<br><br>
    <button class="btn btn-primary ml-auto mr-2"><a href="{% url "main:profile" %}">Back</a></button><br><br><br>
    <h1>Edit Profile:</h1><br>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary ml-auto mr-2" type="submit" value="Submit">
    </form>
</div>
{% endblock %}