{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block body %}
    <a href="{% url "main:create_form" %}"> Create new article </a>
    <h1>News</h1>
    {% for article in articles %}
        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <p>
            {{ article.body|truncatewords:15 }}<br>
            {% if article.image %}
                <img src="{{ MEDIA_URL }}{{ article.image.url }}" alt="Can't upload image" height="200">
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}