{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <br><a href="{% url "main:index" %}">Home page</a><br>
    <h2>Hello, {{ request.user.first_name }}</h2>
    <a href="{% url "main:edit_profile" %}">Edit Profile</a><br>
{% if user.profile.avatar %}
    <p>Avatar: <img src="{{ MEDIA_URL }}{{ user.profile.avatar.url }}" alt="Can't upload image" height="100"></p>
{% else %}
    You have no avatar, you can upload it <a href="{% url "main:edit_profile" %}">here</a>
{% endif %}
    <p>Birthday: {{ request.user.profile.birthday }}</p>
    {% if user.user_articles %}         <!-- TODO: Fix this check, and same in detailed article -->
    <p><h3>Author's Articles:</h3>      <!-- TODO: Must display author's articles, not logged user -->
        {% for article in request.user.user_articles.all %}
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>, Published: {{ article.publish_at }}<br>
        {% endfor %}
    </p>
    {% endif %}
{% endblock %}