{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
<div class="container">
<br><br>
    <button class="btn btn-primary ml-auto mr-2"><a href="{% url "main:index" %}">Back</a></button><br><br><br>
    <h1>Hello, {{ request.user.first_name }}</h1>
    <a href="{% url "main:edit_profile" %}">Edit Profile</a><br><br><hr>
{% if user.profile.avatar %}
    <p><img src="{{ MEDIA_URL }}{{ user.profile.avatar.url }}" alt="Can't upload image" height="100"></p>
{% else %}
    You have no avatar, you can upload it <a href="{% url "main:edit_profile" %}">here</a>
{% endif %}
    <p>Birthday: {{ request.user.profile.birthday }}</p><br>
    {% if user.user_articles %}         <!-- TODO: Fix this check, and same in detailed article -->
    <p><h2>Your Articles:</h2>      <!-- TODO: Must display author's articles, not logged user -->
        {% for article in request.user.user_articles.all %}
        <a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:50 }}</a>, published {{ article.publish_at }}<br>
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endblock %}