<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} Title {% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}    <!-- TODO: Take out to header.html -->
        Hello, <a href="{% url 'main:profile' %}">{{ request.user.first_name }}</a>
        | <a href="{% url "main:logout" %}">Logout</a><br>
    {% else %}
        <br><a href="{% url "main:login" %}">Login</a> or <a href="{% url "main:register" %}">Register</a><br>
    {% endif %}
{% block body %}

{% endblock %}
</body>
</html>